<h1>Business Point</h1>

<div class="main">
    <div class="first">

        <img width="100%" height="300px" [src]="allbusiness[5].urlToImage">
        <h2>{{allbusiness[5].title}}</h2>
    </div>
    <div class="second">
        
        <h1>{{allbusiness[5].description}}</h1>
        <a href="{{allbusiness[5].url}}"><button mat-raised-button>View More</button></a>
 </div>
</div>
<mat-divider></mat-divider>
<!--second section-->
<h1>Most Watched</h1>
<div style="margin-top: 20px;" class="sports">
    <div class="eins">
            <a href="{{allbusiness[6].url}}"><img width="100%" height="200px" [src]="allbusiness[6].urlToImage"></a>
            <h3>{{allbusiness[6].title}}</h3>

        
    </div>
    <div class="zwei">
         <a href="{{allbusiness[7].url}}"><img width="100%" height="200px" [src]="allbusiness[7].urlToImage"></a>
            <h3>{{allbusiness[7].title}}</h3>

       
    </div>
    <div class="drei">
        <img width="100%" height="200px" [src]="allbusiness[13].urlToImage">
        <h3>{{allbusiness[13].title}}</h3>
    </div>
    <div class="vier">
        <img width="100%" height="200px" [src]="allbusiness[15].urlToImage">
        <h3>{{allbusiness[15].title}}</h3>
    </div>
  </div>

  <!--third section-->
  <div class="third">
    <a href="{{allbusiness[6].url}}"><img [src]="allbusiness[18].urlToImage"></a>
    <h3>{{allbusiness[18].title}}</h3>
  </div>

  <!--fourth-->
  <h1>Popular</h1>
<div style="margin-top: 20px;" class="sports">
    <div class="eins">
            <a href="{{allbusiness[1].url}}"><img width="100%" height="200px" [src]="allbusiness[1].urlToImage"></a>
            <h3>{{allbusiness[1].title}}</h3>

        
    </div>
    <div class="zwei">
         <a href="{{allbusiness[12].url}}"><img width="100%" height="200px" [src]="allbusiness[12].urlToImage"></a>
            <h3>{{allbusiness[12].title}}</h3>

       
    </div>
    <div class="drei">
        <img width="100%" height="200px" [src]="allbusiness[17].urlToImage">
        <h3>{{allbusiness[17].title}}</h3>
    </div>
    <div class="vier">
        <img width="100%" height="200px" [src]="allbusiness[9].urlToImage">
        <h3>{{allbusiness[9].title}}</h3>
    </div>
  </div>

