<h1>Highlights</h1>

<!--first section-->
<div class="main">
    <div class="first">
        <img width="100%" [src]="allsports[1].urlToImage">
        <h2>{{allsports[1].title}}</h2>

    </div>
    <div class="second">
        <div class="third">
            <img width="100%" height="200px" [src]="allsports[3].urlToImage">
            <h3>{{allsports[18].title}}</h3>

        </div>
        <div class="fourth">
            <img width="100%" height="200px" [src]="allsports[5].urlToImage">
             <h3>{{allsports[5].title}}</h3>
        </div>
    </div>
</div>

<mat-divider></mat-divider>
<!--second demo-->
<div style="margin-top: 40px;" class="sports">
    <div class="eins">
            <a href="{{allsports[6].url}}"><img width="100%" height="200px" [src]="allsports[8].urlToImage"></a>
            <h3>{{allsports[6].title}}</h3>

        
    </div>
    <div class="zwei">
         <a href="{{allsports[7].url}}"><img width="100%" height="200px" [src]="allsports[7].urlToImage"></a>
            <h3>{{allsports[7].title}}</h3>

       
    </div>
    <div class="drei">
        <img width="100%" height="200px" [src]="allsports[13].urlToImage">
        <h3>{{allsports[13].title}}</h3>
    </div>
    <div class="vier">
        <img width="100%" height="200px" [src]="allsports[15].urlToImage">
        <h3>{{allsports[15].title}}</h3>
    </div>
  </div>

  <mat-divider></mat-divider>

<!--second section-->
<div style="margin-top: 40px;" class="football">
   
        <div class="first">
            <img width="100%" height="400px" [src]="allsports[0].urlToImage">
            <h2>{{allsports[18].title}}</h2>
    
        </div>
        <div class="second">
            <img width="100%"height="400px" [src]="allsports[9].urlToImage">
            <h2>{{allsports[9].title}}</h2>
    
        </div>
       


</div>
