<mat-list role="list">
    <div class="profile">
        <img src="https://cdn.vectorstock.com/i/preview-1x/25/31/planet-tv-logo-design-template-vector-45932531.jpg">
        <div>
            <h2>Breaking point</h2>
        
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages</h2>
   <div class="pages">
    <a routerLink=''>Top news</a>

    <a routerLink='sports'>Sports</a>

    <a routerLink='business'>Business</a>
    <a>Science</a>

   </div>
   <mat-divider></mat-divider>
    <h2 mat-subheader>Settings</h2>
   <div class="pages tools">
    <a routerLink=''> <mat-icon></mat-icon>Subscribe</a>

    <a routerLink=''><mat-icon></mat-icon>Contact</a>
   </div>
  </mat-list>
  
