<h1 style="margin-bottom: 20px;  padding-left: 20px;" class="tophead">Top news</h1>

<!--first section-->
<div class="main">
    <div class="first">
            <a href="{{allnews[1].url}}"><img width="100%" height="200px" [src]="allnews[1].urlToImage"></a>
            <h3>{{allnews[1].title}}</h3>

        
    </div>
    <div class="second">
         <a href="{{allnews[0].url}}"><img width="100%" height="200px" [src]="allnews[0].urlToImage"></a>
            <h3>{{allnews[0].title}}</h3>

       
    </div>
    <div class="third">
        <img width="100%" height="200px" [src]="allnews[18].urlToImage">
        <h3>{{allnews[18].title}}</h3>
    </div>
    <div class="forth">
        <img width="100%" height="200px" [src]="allnews[15].urlToImage">
        <h3>{{allnews[15].title}}</h3>
    </div>
  </div>

 


  <!--Second section-->
  <div class="main">
    <div class="first">

        <img width="100%" height="200px" [src]="allnews[3].urlToImage">
            <h3>{{allnews[3].title}}</h3>
    </div>
    <div class="second">
        <img width="100%" height="200px" [src]="allnews[9].urlToImage">
        <h3>{{allnews[9].title}}</h3>
    </div>
    <div class="third">
        <img width="100%" height="200px" [src]="allnews[13].urlToImage">
        <h3>{{allnews[16].title}}</h3>
    </div>
    <div class="forth">
        <img width="100%" height="200px" [src]="allnews[16].urlToImage">
        <h3>{{allnews[16].title}}</h3>
    </div>
  </div>

 


  <!--third section-->
  <div class="main">
    <div class="first">

        <img width="100%" height="200px" [src]="allnews[17].urlToImage">
            <h3>{{allnews[17].title}}</h3>
    </div>
    <div class="second">
        <a href="{{allnews[6].url}}"><img width="100%" height="200px" [src]="allnews[6].urlToImage"></a>
        <h3>{{allnews[6].title}}</h3>
    </div>
    <div class="third">
        <img width="100%" height="200px" [src]="allnews[19].urlToImage">
        <h3>{{allnews[19].title}}</h3>
    </div>
    <div class="forth">
        <img width="100%" height="200px" [src]="allnews[1].urlToImage">
        <h3>{{allnews[1].title}}</h3>
    </div>
  </div>

  <!--forth section-->
  <div class="content">
    <div class="left">
        <img width="100%" height="300px" [src]="allnews[11].urlToImage">
        <h3>{{allnews[11].title}}</h3>

    </div>
    <div class="right">
        <div class="rightone">
            <img width="100%" height="200px" [src]="allnews[4].urlToImage">
        <h3>{{allnews[4].title}}</h3>

        </div>
        <div class="righttwo">
            <img width="100%" height="200px" [src]="allnews[12].urlToImage">
        <h3>{{allnews[12].title}}</h3>

        </div>
    </div>
  </div>

  <mat-divider></mat-divider>

 <!--footer-->

 <div style="padding-bottom: 50px;">
    <h1 style="text-align: center;">Find us Here</h1>
    <div class="icons">
    <i class="fa-brands fa-4x fa-whatsapp"></i>
    <i class="fa-brands fa-4x fa-instagram"></i>
    <i class="fa-brands fa-4x fa-facebook"></i>
    </div>

 </div>
 



